html {
  font-size: 18px;
  font-family: Helvetica;
}

/* Header  */
header {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
}

.brand {
  display: flex;
  width: 960px;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.brand img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

/* Main banner */

#banner {
  background-image: url("images/banner.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.boxcontainer {
  display: flex;
  width: 960px;
  height: 25rem;
  justify-content: flex-start;
  align-items: center;
}

.bannerbox {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 20rem;
  background-color: black;
  top: 9rem;
}

.bannertext {
  color: white;
  padding-block-start: 2rem;
  padding-block-end: 2rem;
}

h2 {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  margin-block-end: 1rem;
}

h3 {
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
}

/* Navigation */
#nav {
  width: 100%;
  background-color: firebrick;
  display: flex;
  align-content: center;
  justify-content: center;
}

.mainnav {
  width: 960px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.mainnav a {
  color: white;
}

/* Product Grid section */

#productgrid {
  width: 100%;
  background-color: white;
  display: flex;
  align-content: center;
  justify-content: center;
}

.gridcontainer {
  width: 960px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.product {
  border: 4px solid black;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product img {
  width: 80%;
  height: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align: center;
  overflow: hidden;
}

.description {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
}
